<h1>RESULT</h1>
<div class="d-flex justify-content-center">
<p><%= @result %></p>
<p>Score: <%= @player_score %></p>
</div>
<div class="d-flex justify-content-center">
<%= link_to "Play Again", new_path, class:"btn btn-success"%>
</div>
